.btn-movement {
  background-color: #f0ad4e;
}

.btn-movement-active {
  background-color: transparent;
  color: #fff;
}

.btn-axis-move.focus, .btn-axis-move:focus {
  color: #000;
  background-color: #fff;
}

.btn-mod-l{
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 150px;

}

.btn-mod-r{
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 150px;

}

.btn-mod-center{
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;

}

.div-modal-buttons {
  width: 80%;
  margin: 0 auto;
    display: flex;
  justify-content: space-between;
}

.checkbox-profile {
  height: 20px !important;
  color: #ffffff !important;
}

.checkbox-profile:checked {
   accent-color: #f0ad4e !important;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mapcontainer {
  height: 400px;
}

.maps-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  text-align: center;
}

#container img {
  position: absolute;
  left:20%;
  transition: opacity 0.1s ease-in-out;
  width: 70%;
}


#container img.top:hover {
  opacity:0;
}

.progress {
  position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}