{% extends "../base.html" %} {% block content %}
<div class="row">
  <div class="col-sm-4">
    <legend translate>Platform Information</legend>
    <table width="100%" class="table table-striped table-hover" style="margin-top:50px;">
      <thead>
        <tr>
          <th translate>Height</th>
          <th translate>Millimeter</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td translate>Zero Level</td>
          <td>0</td>
        </tr>
        <tr class="success">
          <td translate>Current</td>
          <td><b id="current-height-mm">{{CurrentHeightMm}}</b></td>
        </tr>
        <tr>
          <td translate>End Level</td>
          <td><b id="axis-height-mm">{{ZAxisHeightMm}}</b></td>
        </tr>
      </tbody>
    </table>
    <a href="/z-axis/record-height" type="button" class="btn btn-primary"  style="margin-top:35px;" translate>Record Current Height as Axis Height</a>
  </div>
  <div class="col-sm-8">
    <legend translate>Move</legend>
    <div class="btn-group-vertical" style="padding-right: 10px">
      <button id="btnUp" class="btn btn-primary btn-axis-move" style="margin-bottom: 20px"><span class="glyphicon glyphicon-chevron-up"></span></button>
      <button id="btnMove100000" class="btn btn-default btn-movement">100 mm</button>
      <button id="btnMove10000" class="btn btn-default btn-movement">10 mm</button>
      <button id="btnMove1000" class="btn btn-default btn-movement btn-movement-active">1 mm</button>
      <button id="btnMove100" class="btn btn-default btn-movement">0.1 mm</button>
      <button id="btnDown" class="btn btn-primary btn-axis-move" style="margin-top: 20px"><span class="glyphicon glyphicon-chevron-down"></span></button>
    </div>
    <div class="btn-group-vertical" style="padding-top: 80px">
      <button id="btnMoveTop" class="btn btn-default">TOP</button>
      <button id="btnMovePark" class="btn btn-default">PARK</button>
      <button id="btnMoveBottom" class="btn btn-default">BOTTOM</button>
      <button id="btnStop" class="btn btn-danger" style="margin-top: 45px">STOP</button>
    </div>
  </div>
</div>
{% endblock %}
