{% extends "../base.html" %}
{% block content %}
	<div class="modal fade" id="update_notification" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalLabelSmall"><center>Software Update</center></h4>
				</div>
				<div class="modal-body">
					<div class="progress">
						<div id="theBar" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
						0%
						</div>
					</div>
					<div>
						<center>
							This page will reload automatically</br> please check the screen of your printer for further information
						</center>
					</div>
				</div>
			</div> 
		</div>
	</div>
					
	<div class="row">
		<div class="col-md-12">
			<h1 id="version_str" translate></h1>
			<div class="alert">
				<dt>
				<li id="channel" translate></li>
				<li id="printer_type" translate></li>
				<li id="image_version" translate></li>
				<li id="nanodlp_build" translate>NanoDLP Build: {{version}}</li>
				</dt>
			</div>
			<br>
			<br>
			<br>

			<h4> Changelog </h4>
			<div id="changelog-display">
			Nothing to see here (yet)
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div>
				<button id="btn-update" class="btn btn-danger" translate>Start Software Update</button>
				<br>
				<br>
				<br>
			</div>
			
			<div id="Channel Change buttons" class="{% if viewMode == 0 %}hidden{% endif %}">
				<h4> Switch Software channel (reboot required) </h4>
				<br>
				<button id="btn-lts" class="btn btn-danger" translate>LTS</button >
				<button id="btn-stable"class="btn btn-danger" translate>Stable</button>
				<button id="btn-beta"class="btn btn-danger" translate>Beta</button>
				<button id="btn-alpha"class="btn btn-danger" translate>Alpha</button>
				<button id="btn-master"class="btn btn-danger" translate>Master</button>
			</div>
			
		</div>
	</div>
	
{% endblock %}
